@(c: Conference)(implicit request: Request[AnyContent])

@conference(c) {
    <div class="cheading clearfix">
        <div class="seven columns alpha">
            <h2> <span class="icon checkmark">.</span> Great success! </h2>
            <h4> Your phone conference is set up.</h4>
        </div> <!-- end nine -->
        <div class="four columns omega">
            <logo class="companylogo"> <img src="/assets/img/companylogo.png" width="220" height="90" alt="companylogo" /> </logo>
        </div> <!-- end three -->
    </div>

    <hr />
}
