@(c: Seq[Conference])

@main("Console") {
    @c.map { conf =>
        <div class="console-item" data-id="@conf.id">
            <div class="buttons">
                <button data-action="start-conference">Start conference</button>
            </div>
            id: @conf.id <br/>
            date: @conf.date <br/>
            title: @conf.title <br/>
            agenda: @conf.agenda <br/>
            @conf.agendaUrl.map { a => agenda url: <a href="@a">@a</a><br/> }
            contacts:
                <ul>
                    @conf.contacts.map { contact =>
                        <li>@contact.name @contact.number @contact.email @if(contact.initiator) { initiator }
                    }
                </ul>
        </div>
    }
}
