@(message: String)

@main("New conference") {
    <h1>New conference</h1>
    <div class="form">
        <div>
            Date:
            <div class="input">
                <input name="date" type="text"/>
            </div>
        </div>
        <div>
            Agenda:
            <div class="input">
                <textarea name="agenda"></textarea>
            </div>
        </div>
        <div>
            Numbers:
            <div class="input">
                <textarea name="numbers"></textarea>
            </div>
        </div>
    </div>
}
