@(message: String)

@main("New conference") {
    <h1>New conference</h1>
    <div class="form">
        <div>
            Date:
            <div class="input">
                <input name="date" type="text" value="06-04-2013 23:59"/>
            </div>
        </div>
        <div>
            Agenda:
            <div class="input">
                <textarea name="agenda">
That will be pretty boring meetng!
                </textarea>
            </div>
        </div>
        <div>
            Contacts:
            <div class="input">
                <textarea name="contacts">
123456789101112 someone@@example.com
234567882947249 someone@@else.com
                </textarea>
            </div>
        </div>
        <button id="new-conference">Create!</button>
    </div>
}
