@main("New conference") {
    <h1>New conference</h1>
    <div class="form">
        <div>
            Date:
            <div class="input">
                <input name="date" type="text" value="06-04-2013 23:59"/>
            </div>
        </div>
        <div>
            Agenda:
            <div class="input">
                <textarea name="agenda">
That will be pretty boring meeting!
                </textarea>
            </div>
        </div>
        <div>
            Contacts:
            <div class="input">
                <textarea name="contacts">
+493200000001 someone@@example.com
+493200000002 someone@@else.com
+493200000003
                </textarea>
            </div>
        </div>
        <button id="new-conference">Create!</button>
    </div>
}
